@import 'colors';
@import 'variables-mixins';

#buttons1 {
  margin-top: 2px;
  text-align: center;
  #left1 {
    height: $button-size;
    width: $button-size;
    border-top: $button-size solid $button-color;
    padding: 0;
    border-bottom-left-radius: 100px;
  }
  #right1 {
    width: $button-size;
    height: $button-size;
    border-top: $button-size solid $button-color;
    border-bottom-right-radius: 100px;
    padding: 0;
  }
  #middle1 {
    height: $button-size + 1;
    width: $button-size / 2;
    background-color: $button-color;
    padding: 0;
  }
}

#buttons2 {
  margin-top: 2px;
  text-align: center;
  #left2 {
    height: $button-size;
    width: $button-size;
    border-top: $button-size solid $button-color;
    padding: 0;
    border-bottom-left-radius: 100px;
  }
  #right2 {
    width: $button-size;
    height: $button-size;
    border-top: $button-size solid $button-color;
    border-bottom-right-radius: 100px;
    padding: 0;
  }
  #middle2 {
    height: $button-size + 1;
    width: $button-size / 2;
    background-color: $button-color;
    padding: 0;
  }
}