@import 'colors';
@import 'variables-mixins';

#screen-container1 {
  // @extend #pokedex-container;
  margin: auto;
  height: 290px;
  width: 290px;
  border: 0.1px solid black;
  border-bottom-color: $screen-color;
  border-top-color: $screen-color;
  background-color: $screen-color;
  #window-screen1 {
    background-color: #c8f5fd;
    height: 80%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border: 2px solid #9eccd4;
    #pokeball-container1 {
      height: $full-fit;
      text-align: center;
      img {
        width: 30%;
        margin: auto;
      }
    }

  }
  
}