@import 'partials/colors';
@import 'partials/variables-mixins';
@import 'partials/top';
@import 'partials/drop-down';
@import 'partials/poke-div';
@import 'partials/buttons';
@import 'partials/bottom';

html {
  background: url("../images/background4.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

body {
  text-transform: capitalize;
}

#pokedex-container {
  margin-top: 15%;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: inline;
}

#pokedex1 {
  float: left;
  margin-top: 15%;
  margin-left: 10%;
}

#pokedex2 {
  float: right;
  margin-top: 15%;
  margin-right: 10%;
}

.hidden {
  display: none;
}

@keyframes blink {
  0% { background: $grey; }
  50% { background: #ff1a1a; }
  100% { background: $grey; }
}
